body {
    background-color: steelblue;
    background-size: auto 100vh;
    font-family: 'PT Sans', sans-serif;
    height: 100vh;
  }
  
  .menu {
    background-color: white;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: steelblue;
    text-decoration: none;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
    line-height: 1;
  }
  
  .site-subtitle {
    font-style: italic;
  }